TimeStampFolder           = "c:/Projects/Data/Hyperpolarization/Poltest/Hyperpol_5point"  # Change to the correct path
CarbonPhase               = "FirstScan"

#RecordScript      = "true"

StartTimer()
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:00:08:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:00:16:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:00:24:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:00:32:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])

# Change the sample
UntilTimer(00:01:00:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:01:08:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:01:16:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:01:24:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:01:32:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])

# Change the sample
UntilTimer(00:02:00:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:02:08:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:02:16:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:02:24:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:02:32:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])

# Change the sample
UntilTimer(00:03:00:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:03:08:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:03:16:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:03:24:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:03:32:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])

# Change the sample
UntilTimer(00:04:00:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:04:08:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:04:16:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:04:24:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
UntilTimer(00:04:32:000)
RunProtocol("1D CARBON+ WALTZ",  ["Number=1", "RepetitionTime=5", "PulseAngle=5", "CenterFrequency=110", "NoeEnhancement=no", "Decouple=yes"], ["scan_ReceiverGain=6",  "skipChecks=yes"])
